html, body {
  background-color: rgb(215, 211, 200);
  border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  padding: 20px;
  text-align: center;
}

.intro {
  padding: 20px;
}


input {
  width: 100%;
}

.search-form {
  margin:10px 0px;
  display: flex;
  width: 90%;
}

input.search {
  width: 100%;
  max-width: 800px;
  margin: 0;
  text-align: center;
  outline:0;
  border: 10px solid #F7F7F7;
  padding: 2px 20px;
  z-index: 2;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

#login, #loggedin, #loading {
  display: none;
}

#loading {
  margin-top: 50px;
}

#login {
  padding-top: 50px;
  text-align: center;
}

#login.active, #loggedin.active, #loading.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  width: 90%;
}

.playlists li {
  background:white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  cursor: pointer;
}

.playlistOwner {
  width: 100px;
  margin: -20px;
  padding: 20px;
  background: rgb(252, 228, 178);
}

.playlistName {
  /* width: 50%; */
  margin: -20px;
  padding: 20px;
  overflow: scroll;
}

.playlistNoTracks {
  width: 100px;
  margin: -20px;
  padding: 20px;
  background: rgb(252, 228, 178);
}

.playlists li:nth-child(even) {
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}
.playlists li:nth-child(odd) {
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}