html, body {
  /* background: rgb(49, 49, 49); */
  background: rgb(2, 18, 70) url('./bruno-cervera-408708-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 1px 1px 3px rgb(49, 49, 49);
}

p {
  padding: 20px;
}

h2 {
  margin-top: 10px;
}

.intro {
  padding: 20px;
}

input {
  width: 100%;
}

input.search {
  width: 100%;
  margin: 0;
  text-align: center;
  outline:0;
  border: 10px solid rgb(247, 247, 247);
  padding: 2px 20px;
  z-index: 2;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.search-form {
  margin:10px 0px;
  display: flex;
  width: 90%;
  color: rgb(0, 0, 0);
}

#login, #loggedin, #loading {
  display: none;
}

#loading {
  margin-top: 50px;
}

#login {
  margin: 30px -15px;
  padding: 20px 0px 42px 0px;
  text-align: center;
  background: rgba(167, 167, 167, 0.3);
  box-shadow: 2px 2px 10px rgb(37, 37, 37);
}

#login.active, #loggedin.active, #loading.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-profile, .fixed-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.fixed-header {
  position: fixed;
  top: 0%;
  z-index: 10;
  background: rgb(2, 18, 70) url('./bruno-cervera-408708-unsplash.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.btn-primary.login-btn:visited,
.btn-primary.login-btn:hover,
.btn-primary.login-btn:focus,
.btn-primary.login-btn:active,
.btn-primary.login-btn
{
  margin-top: 20px;
  background: rgb(30, 215, 96);
  border-color: rgb(30, 215, 96);
  font-weight: 700;
  font-size: 1.2em;
}

.loading {
  margin-top: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.loading.black {
  margin: 20px;
  color: rgb(49, 49, 49);
}

.logout a:link,
.logout a:visited,
.logout a:hover,
.logout a:active
 {
  color: rgb(30, 215, 96);
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  width: 90%;
}

.playlists {
  /* color: rgb(0, 0, 0); */
  color: rgb(255, 255, 255);  
  font-size: 1em;
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 300px;
  z-index: 5;
  overflow-y: scroll;

}

.playlists.active {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.playlists li {
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  
}

.playlist {
  display: flex;
  flex-direction: column;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  font-family: "Helvetica Neue", sans-serif;
}


.playlist-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  margin: 0px;
}

.playlist-owner {
  width: 100%;
  padding: 1px;
  font-size: 0.9em;
  overflow: hidden;
}

.playlist-name {
  width: 100%;
  padding: 1px;
  overflow: hidden;
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(30, 215, 96);
}

.playlist-num-tracks {
  padding: 10px;
  font-size: 0.8em;
  font-weight: 400;
  /* color: rgb(0, 0, 0); */
  color: rgb(255, 255, 255);
}

.playlists li:nth-child(even) {
  background: linear-gradient(to bottom,  rgba(255, 255, 255, 0.2) 0%,rgba(239, 239, 239, 0.2) 100%);
}
.playlists li:nth-child(odd) {
  background: linear-gradient(to top,  rgba(255, 255, 255, 0.2) 0%,rgba(239, 239, 239, 0.2) 100%);
}

.playlist:hover {
  border-color: rgba(30, 215, 96, 0.897);
  box-shadow: 0px 0px 10px 2px rgba(30, 215, 96, 0.897);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 1;
}

li.playlist-header {
  font-weight:bold;
  font-size: 1.5em;
  background: linear-gradient(to top,  rgb(255, 255, 255) 0%,rgb(239, 239, 239) 100%);
  padding: 10px;
}



.tracks.active {
  opacity: 1;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.tracks {
  cursor: text;
  opacity: 0;
  padding: 0;
  font-size: 1em;
  color: rgb(49, 49, 49);
}


.track-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.track-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(76, 175, 80);
  color: white;
}

.track-table tr:nth-child(even){
  background-color: #f2f2f2;
}

.track-table tr:nth-child(odd){
  background-color: #ffffff;
}

.track-table td, .track-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.track-table .track-name {
  width: 40%;
}
.track-table .track-album {
  width: 30%;
}

.track-table .track-artist {
  width: 30%;
  border-right: 0px;
  overflow: scroll;
}

.download {
  float: right;
  cursor: pointer;
}



@media only screen and (max-width: 550px) {
  
  ul {
    width: 100%;
  }
  h1 {
    font-size: 1.5em;
    padding-top: 10px;
  }
  h2 {
    font-size: 1.2em;
  }
  input.search {
    font-size: 1em;
  }
  .intro {
    padding: 10px;
    padding-bottom: 0px;
  }
  .search-form {
    width: 100%;
  }

  li.playlist-header {
    padding: 10px;
  }

  .playlists {
    margin-top: 225px;
  }

}
