html, body {
  /* background-color: rgb(215, 211, 200); */
  background-color: rgb(49, 49, 49);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  padding: 20px;
  text-align: center;
}

.intro {
  padding: 20px;
}


input {
  width: 100%;
}

.search-form {
  margin:10px 0px;
  display: flex;
  width: 90%;
  color: rgb(0, 0, 0);
}

input.search {
  width: 100%;
  margin: 0;
  text-align: center;
  outline:0;
  border: 10px solid rgb(247, 247, 247);
  padding: 2px 20px;
  z-index: 2;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

#login, #loggedin, #loading {
  display: none;
}

#loading {
  margin-top: 50px;
}

.loading {
  margin-top: 50px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.loading.black {
  margin: 20px;
  color: rgb(49, 49, 49);
}

#login {
  padding-top: 50px;
  text-align: center;
}

#login.active, #loggedin.active, #loading.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  width: 90%;
}

.playlists {
  color: rgb(0, 0, 0);
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.playlists.active {
  opacity: 1;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
}

.playlists li {
  background:rgb(255, 255, 255);
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.playlist {
  display: flex;
  flex-direction: column;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.playlist:hover {
  -webkit-opacity: 0.90;
  -moz-opacity: 0.90;
  opacity: 0.90;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.14);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.playlist-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.playlist-owner {
  width: 100%;
  max-width: 100px;
  margin: -20px;
  padding: 20px;
  background: rgb(168, 231, 170);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  overflow: hidden;
}

.playlist-name {
  margin: -20px;
  padding: 20px 50px;
  overflow: hidden;
}

.playlist-no-tracks {
  width: 100%;
  max-width: 100px;
  margin: -20px;
  padding: 20px;
  background: rgb(168, 231, 170);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
}

.playlists li:nth-child(even) {
  background: linear-gradient(to bottom,  rgb(255, 255, 255) 0%,rgb(239, 239, 239) 100%);
}
.playlists li:nth-child(odd) {
  background: linear-gradient(to top,  rgb(255, 255, 255) 0%,rgb(239, 239, 239) 100%);
}


.playlist-header .playlist-owner,
.playlist-header .playlist-name,
.playlist-header .playlist-no-tracks
 {
  font-weight:bold;
  background: linear-gradient(to top,  rgb(255, 255, 255) 0%,rgb(239, 239, 239) 100%);
}


.tracks.active {
  opacity: 1;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.tracks {
  cursor: text;
  opacity: 0;
  padding: 0;
  font-size: 1em;
  margin: 20px -20px -20px -20px;
}


.track-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.track-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(76, 175, 80);
  color: white;
}

.track-table tr:nth-child(even){
  background-color: #f2f2f2;
}

.track-table tr:nth-child(odd){
  background-color: #ffffff;
}

.track-table td, .track-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.track-table .track-name {
  width: 40%;
}
.track-table .track-album {
  width: 30%;
}

.track-table .track-artist {
  width: 30%;
  border-right: 0px;
  overflow: scroll;
}

.download {
  float: right;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  ul {
    width: 100%;
  }

  .search-form {
    width: 100%;
  }

  .playlist-header .playlist-owner,
  .playlist-header .playlist-name,
  .playlist-header .playlist-no-tracks
  {
    font-size: 1em;
  }

  .playlist-header .playlist-no-tracks
  {
    padding-right: 30px;
  }

  .playlist-owner {
    width: 100%;
    max-width: 70px;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .playlist-name {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
    text-align: left;
    margin: -20px 20px;
    padding: 20px 10px;
  }
  
  .playlist-no-tracks {
    width: 100%;
    max-width: 65px;
    text-align: right;
    padding-left: 10px;
    padding-right: 10px;
  }

}
