html, body {
  /* background-color: rgb(215, 211, 200); */
  background-color: rgb(49, 49, 49);
  border-box;
  color: rgb(255, 255, 255);
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  padding: 20px;
  text-align: center;
}

.intro {
  padding: 20px;
  /* color: rgb(255, 255, 255); */
}


input {
  width: 100%;
}

.search-form {
  margin:10px 0px;
  display: flex;
  width: 90%;
  color: rgb(0, 0, 0);
}

input.search {
  width: 100%;
  /* max-width: 800px; */
  margin: 0;
  text-align: center;
  outline:0;
  border: 10px solid rgb(247, 247, 247);
  padding: 2px 20px;
  z-index: 2;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

#login, #loggedin, #loading {
  display: none;
}

#loading {
  margin-top: 50px;
}

#login {
  padding-top: 50px;
  text-align: center;
}

#login.active, #loggedin.active, #loading.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  width: 90%;
}

.playlists {
  color: rgb(0, 0, 0);
}

.playlists li {
  background:white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  cursor: pointer;
}

.playlist {
  display: flex;
  flex-direction: column;
}

.playlist-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.playlist-owner {
  width: 100%;
  max-width: 100px;
  margin: -20px;
  padding: 20px;
  background: rgb(168, 231, 170);
}

.playlist-name {
  margin: -20px;
  padding: 20px 50px;
  overflow: hidden;
}

.playlist-no-tracks {
  width: 100%;
  max-width: 70px;
  margin: -20px;
  padding: 20px;
  background: rgb(168, 231, 170);
}

.playlists li:nth-child(even) {
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}
.playlists li:nth-child(odd) {
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}


.playlist-header .playlist-owner,
.playlist-header .playlist-name,
.playlist-header .playlist-no-tracks
 {
  font-size: 1.5em;
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}


.playlists .playlist .tracks {
  cursor: text;
  opacity: 1;
  padding: 0;
  margin: 20px -20px -20px -20px;
  --webkit-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

.playlists .playlist .tracks.hide {
  opacity: 0;

  margin: 0;
}


.track-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.track-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(76, 175, 80);
  color: white;
}

.track-table tr:nth-child(even){
  background-color: #f2f2f2;
}

.track-table td, .track-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.track-table .track-name {
  width: 40%;
}
.track-table .track-album {
  width: 30%;
}

.track-table .track-artist {
  width: 30%;
  border-right: 0px;
}

.download {
  float: right;
  cursor: pointer;
}

@media only screen and (max-width: 550px) {
  ul {
    width: 100%;
  }

  .search-form {
    width: 100%;
  }

  .playlist-header .playlist-owner,
  .playlist-header .playlist-name,
  .playlist-header .playlist-no-tracks
  {
    font-size: 1em;
  }

  .playlist-header .playlist-no-tracks
  {
    padding-right: 30px;
  }

  .playlist-owner {
    width: 100%;
    max-width: 50px;
    background: rgb(168, 231, 170);
    overflow: hidden;
  }
  
  .playlist-name {
    overflow: hidden;
  }
  
  .playlist-no-tracks {
    width: 100%;
    max-width: 20px;
    text-align: right;
  }
}
